<html>

	<head>
		<meta charset="UTF-8"/>
	</head>

	<body>
		<h3>Page projet {{title}}</h3>
		{{ form(form) }}

		{% block done %}{% endblock %}
		<li> <a href="{{ path('products')}}" </a> back to menu </li>

	</body>
</html>
