<html>

	<head>
		<meta charset="UTF-8"/>
	</head>

	<body>
 		Hello
		<br/>
		date du jour :{{"now"|date("d/m/Y")}}

		<ul>
			<li> <a href="{{ path('first') }}" </a> FIRST </li>
  		<li> <a href="{{ path('second')}}" </a> SECOND </li>
				<li> <a href="{{ path('products')}}" </a> products </li>
		</ul>

		{% block body %}


		{% endblock %}
	</body>
</html>
