<html>

	<head>
		<meta charset="UTF-8"/>
	</head>

	<body>
		<h3>Page projet products</h3>

		<ul>
				<li> <a href="{{ path('addProduct')}}" </a>Ajout  </li>
				<li> <a href="{{ path('researchProduct')}}" </a>Rechercher produit</li>
				<li> <a href="{{ path('home')}}" </a>Back </li>

		</ul>
	</body>
</html>
